.wrapper {
    width: 100%;
    position: relative;
}

.colapsado {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(.4,0,.2,1);
    position: relative;
    border-radius: 12px;
    margin: var(--espaciado-doble) 0;
}
.expandido {
    border-radius: 12px;
    max-height: 100%;
    transition: max-height 0.6s cubic-bezier(.4,0,.2,1);
}
.dropdownBoton {
    width: 100%;
    background: var(--color-texto-suave);
    color: var(--color-texto-blanco);
    border: none;
    padding-top: var(--espaciado);
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 0 0 10px 10px;
}

.dropdownBoton:hover {
    background: var(--color-tarjeta);
    color: var(--color-texto);
}

@media (min-width: 900px ){
    .colapsado {
        border: none;
        overflow: visible;
    }

}
