.cuentaUsuario {
    max-width: 1024px;
    margin: 1rem auto;
    padding: 2rem;
    background: var(--color-tarjeta, #eee);
    border-radius: var(--borde-radius, 8px);
    border: var(--borde-oscuro);
    box-shadow: var(--sombra, 0 4px 24px rgba(0,0,0,0.10));
}
.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.facturas {
    margin-bottom: 1.5rem;
}
.facturas ul {
    list-style: none;
    padding: 0;
}
.facturas li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}
.cancelar {
    margin-bottom: 0;
}
.cancelar a {
    color: var(--color-error, #a85353);
    text-decoration: underline;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: var(--borde-radius);
    border: 2px solid var(--color-error, #a85353);
}
.perfilForm {
    background: var(--color-fondo-claro, #f6f6f6);
    padding: 1rem;
    border: var(--borde-oscuro);
    box-shadow: var(--sombra);
    border-radius: var(--borde-radius, 8px);
}
.perfilForm form label {
    display: block;
    margin-bottom: .8rem;
}
.perfilForm input {
    width: 100%;
    margin-top: .3rem;
    margin-bottom: .5rem;
    padding: .5rem;
    border: 1px solid var(--color-tarjeta);
    border-radius: 6px;
}
.perfilForm button {
    margin-top: 2rem;
    margin-right: 2rem;
    padding: .3rem;

}

.buttonFactura {
    padding: .3rem;
}

.hidden{
    overflow: hidden;
}
.botonEliminar {
    background: var(--color-texto);
    color: var(--color-error-oscuro);
    padding: 0.6rem 1.4rem;
    border-radius: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
    border: 2px solid var(--color-error-border);

}
.botonEliminar[disabled] {
    opacity: 0.5;
    cursor: wait;
}

.botonEliminar:hover {
    background: var(--color-error);
    color:  var(--color-texto);
}

.eliminar {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0 0 0;
    padding: 1.2rem 0 1.2rem 0;
    transition: background 0.2s;
}


.eliminar .botonEliminar {
    margin-top: 0;
    width: 80%;
    max-width: 250px;
    font-size: 1.05rem;
    letter-spacing: 0.02em;
}


@media (max-width: 500px) {
    .cuentaUsuario {
        padding: 1rem 0.5rem;
    }
}

