.lista {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.card {
    background: var(--color-tarjeta, #d7d3bf);
    border-radius: 12px;
    border: 2px solid var(--color-border);
    box-shadow: var(--sombra, 0 2px 8px rgba(0,0,0,0.08));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

    animation: slideDown 0.25s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.categoria {
    max-width: 150px;
    display: inline-block;
    background: #e8e2c9;
    color: #7d6c38;
    border: 2px solid var(--color-acento);
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.5rem;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
}

.categoriaDonated {
    max-width: 150px;
    display: inline-block;
    background: var(--color-verde);
    color: var(--color-texto);
    border: 2px solid var(--color-texto-suave);
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.5rem;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
}

.singleCard {
    max-width: 420px !important;
    margin-left: auto;
    margin-right: auto;
}


.imagen {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid var(--color-border);;
    object-fit: cover;
    background: #ecebde;
}

.contenido {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-evenly;
}

.titulo {
    font-size: 1.1rem;
    font-weight: 600;
}

.descripcion {
    color: var(--color-texto, #5a5a5a);
    border: 2px solid var(--color-acento);
    margin-bottom: .75rem;
    padding: var(--espaciado);
    border-radius: 12px 0 0 12px;
    background: var(--color-fondo-claro);
    text-align: initial;
    font-size: 0.85rem;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-tarjeta) #5a5a5a;
}

.botones {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.comprar,
.descargar {
    background: var(--color-acento, #c1baa1);
    border: 2px solid var(--color-border);
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.comprar:hover,
.descargar:hover {
    background: var(--color-verde);
    color: var(--color-texto, #2b2b2b);
}

.empty {
    text-align: center;
    color: #888;
    padding: 3rem;
    font-size: 1.1rem;
}

.detalles {
    margin-top: 1rem;
    display: inline-block;
    color: #796d2c;
    text-decoration: underline dotted;
    font-style: italic;
    cursor: pointer;
    transition: color 0.2s;
}
.detalles:hover {
    color: #ad8f3d;
    text-decoration: underline solid;
}

.metaInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: self-start;
    margin: 0.5rem 0;
}


.estado {
    max-width: 150px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0.5rem;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    background: #daf5ed;
    color: #146754;
    border: 2px solid #81d5bb;
}
